<a href="https://colab.research.google.com/github/KsibiI/DM-ML-Assignment0/blob/main/Assignment_0_Imene_Ksibi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><b><center>Covid 19 in Europe in September 2021</center></b></h1>

<h2><b><i>1. Description of my dataset</i></b></h2>

This dataset concernes the number of total cases, new cases, death due to Covid-19, but also the number of people cured in Septembre 2021 in European countries. I have chosen this dataset because Covid-19 is one of the most important hot topic. 

<b>Dimensionality and cardinality:</b> It contains 14 columns and 47 objects/rows. Each row represent a country.

This dataset's values are already aggregated values, so there is little or no data cleaning work to do. But there are some missing values.

Here you can find <i>[my dataset](https://www.kaggle.com/susant4learning/covid19europesept2021)</i> which comes from Kaggle. And here you can find <i>[my CSV file](https://raw.githubusercontent.com/KsibiI/DM-ML-Assignment0/main/Covid19_Europe_Sept21%203.csv)</i>.

<img src='https://www.sgi-ssmi.ch/assets/images/2/COVID-19-5bb314e2.jpg'>

In [61]:
import pandas as pd
import numpy as np 
data = pd.read_csv('https://raw.githubusercontent.com/KsibiI/DM-ML-Assignment0/main/Covid19_Europe_September2021.csv', delimiter=';') 
data.head(10)

       Country  Total Cases New Cases  ...  Total Tests Tests/1M pop  Population
0       Russia      6937333     18368  ...    179100000      1226650   146007376
1           UK      6825074     35693  ...    270870957      3965828    68301245
2       France      6765708        \n  ...    124769146      1906567    65441768
3        Spain      4861883      6818  ...     60618810      1295942    46775880
4        Italy      4546487      6503  ...     84339436      1397315    60358206
5      Germany      3961505      6087  ...     68329706       812520    84095984
6       Poland      2889036       366  ...     19819235       524342    37798302
7      Ukraine      2288371      2075  ...     12008463       276518    43427361
8  Netherlands      1943882      2827  ...     16593808       965933    17179038
9      Czechia      1679476       287  ...     36018150      3356106    10732126

[10 rows x 14 columns]

In [54]:
data.shape

(47, 14)

In [8]:
data.columns

Index(['Country', 'Total Cases', 'New Cases', 'Total Deaths', 'New Deaths',
       'Total Recovered', 'New Recovered', 'Active Cases', 'Serious, Critical',
       'Tot Cases/ 1M pop', 'Deaths/1M pop', 'Total Tests', 'Tests/1M pop',
       'Population'],
      dtype='object')

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            47 non-null     object
 1   Total Cases        47 non-null     int64
 2   New Cases          47 non-null     object
 3   Total Deaths       47 non-null     int64
 4   New Deaths         47 non-null     object
 5   Total Recovered    47 non-null     int64
 6   New Recovered      47 non-null     object
 7   Active Cases       47 non-null     int64
 8   Serious, Critical  47 non-null     object
 9   Tot Cases/ 1M pop  47 non-null     int64
 10  Deaths/1M pop      47 non-null     int64
 11  Total Tests        47 non-null     int64
 12  Tests/1M pop       47 non-null     int64
 13  Population         47 non-null     int64
dtypes: int64(9), object(5)
memory usage: 5.3+ KB

In [60]:
data.loc[data.duplicated()=='True', :]

Empty DataFrame
Columns: [Country, Total Cases, New Cases, Total Deaths, New Deaths, Total Recovered, New Recovered, Active Cases, Serious, Critical, Tot Cases/ 1M pop, Deaths/1M pop, Total Tests, Tests/1M pop, Population]
Index: []

In [65]:
data.isnull().sum()

Country              0
Total Cases          0
New Cases            0
Total Deaths         0
New Deaths           0
Total Recovered      0
New Recovered        0
Active Cases         0
Serious, Critical    0
Tot Cases/ 1M pop    0
Deaths/1M pop        0
Total Tests          0
Tests/1M pop         0
Population           0
dtype: int64

<b>Data cleaning:</b> The dataset I have chosen is quite small and there are already aggregated data. So there isn't a lot of cleaning to do. However, we note that some data is missing (\n). We have the possibility to delete the lines which contain missing data but in my opinion, the loss of information would be too important given the size of the dataset. I think the better way would be to compare the data with the same dataset of August and October 2021 et deduce the missing data.

as you can see above, we can believe that there is no missing data but when we look at the dataset we find some. I haven't managed to fix this problem yet. I think it comes from the fact that in my CSV file, the missing data is written "\ n" and not "NaN".

<h2><b><i>2. Why is my dataset interesting?</i></b></h2>

This dataset is particularly useful for the World Health Organization.</br>
Thanks to these data, we can observe which European country shows the lowest rate of new cases of Covid 19 and take a closer look at the sanitary measures that have been taken in this country, or even lifestyle habits of its population in order to better understand what increases od decreases the transmission of the virus.

<img src='https://www.unhcr.org/dach/wp-content/uploads/sites/27/2020/03/BAG_Screen_CoVi_QR_Abstand_langfristig_1920x1080_rgb_f1.jpg'>

If we could find the same dataset for August 2021 and Octobre 2021 we can deduce, for example, the evolution of the number of new cases and decide to increase or reduce sanitary measures.

<h2><b><i>3. My presentation Video</i></b></h2>

Here you can see my presentation video